#blog {
    padding: 3rem;
    background-color: #F5F7FA;
    text-align: center;
    position: relative;
    .articles {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .articolo {
            width: 300px;
            text-align: left;
            box-shadow: 2px 2px 20px rgb(172, 172, 172);
            margin: 2rem;
            z-index: 2;
            background-color: white;
            &>img {
                width: 100%;
            }
            &>div {
                padding: 1rem;
                .type {
                    margin: 0.5rem 0;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: rgb(134, 134, 134);
                }
                .title {
                    font-weight: 600;
                    font-size: 1.5rem;
                }
                .info {
                    color: rgb(134, 134, 134);
                    margin: 1rem 0;
                    i {
                        margin: 0 0.5rem
                    }
                    span {
                        margin-right: 1rem;;
                    }
                }
            }
            
        }
        .right {
            margin-top: 100px;
            align-self: flex-start;
        }
        .articolo-centrale {
            z-index: 2;
            margin: 2rem;
            color: white;
            position: relative;
            height: 680px;
            &>div {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: absolute;
                z-index: 2;
                bottom: 0;
                padding: 2rem;
                text-align: left;
                height: 100%;
                width: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.22) -1.61%, rgba(255, 255, 255, 0) 100%);
                .type {
                    margin: 0.5rem 0;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: rgb(197, 197, 197);
                }
                .title {
                    font-weight: 600;
                    font-size: 2rem;
                }
                .info {
                    color: rgb(221, 221, 221);
                    margin: 1rem 0;
                    i {
                        margin: 0 0.5rem
                    }
                    span {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    .background {
        :first-child {
            width: 100%;
            position: absolute;
            left: 0;
            top: 25%;
            z-index: 1;
        }
        :nth-child(2) {
            position: absolute;
            top: 18%;
            left: 35%;
        }
    }
    .all_post {
        :last-child {
            color: #EF6F31;
            font-weight: 600;
        }
    }
    h3 {
        font-size: 2.4rem;
        color: $color_cursive;
        font-family: $font_corsivo;
    }
    h4 {
        font-size: 2rem;
        font-weight: 600;
    }
}