.coaching {
    width: 70%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        font-size: 2.4rem;
        color: $color_cursive;
        font-family: $font_corsivo;
    }
    h4 {
        font-size: 2.3rem;
        font-weight: 500;
        max-width: 550px;
        text-align: center;
    }
    .row {
        margin-top: 2rem;
        display: flex;
        align-items: flex-start;
        .card {
            margin: 1rem;
            h5 {
                font-size: 1.5rem;
                font-weight: 400;
            }
            p {
                line-height: 1.7rem;
            }
        }
        
    }
}