.coaching {
    overflow: hidden;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .background {
        :nth-child(1) {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        :nth-child(2) {
            position: absolute;
            top: 10%;
            left: 68%;
            z-index: -2;
            height: 300px;
        }
        :nth-child(3) {
            position: absolute;
            top: 17%;
            left: 92%;
        }
    }
    h3 {
        font-size: 2.4rem;
        color: $color_cursive;
        font-family: $font_corsivo;
    }
    h4 {
        font-size: 2.3rem;
        font-weight: 500;
        max-width: 550px;
        text-align: center;
    }
    .row {
        padding-top: 2rem;
        display: flex;
        align-items: flex-start;
        width: 70%;
        margin: auto;
        position: relative;
        &>img {
            position: absolute;
            transform: rotate(230deg);
            top: -120px;
            left: -500px;
            height: 600px;
        }
        .card {
            margin: 1rem;
            h5 {
                margin: 1rem 0;
                font-size: 1.5rem;
                font-weight: 400;
            }
            p {
                line-height: 1.7rem;
            }
        }
        
    }
    &>img {
        position: absolute;
        top: 35%;
        right: 0;
    }

    //citazione
    .citazione {
        width: 70%;
        margin: 4rem auto;
        display: flex;
        .left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                font-size: 3rem;
                width: 400px;
                font-weight: 600;
                text-align: center;
            }
            .autor {
                padding-top: 2rem;
                font-size: 2.4rem;
                color: $color_cursive;
                font-family: $font_corsivo;
            }
        }
        .right {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;
            p {
                line-height: 1.6rem;
                margin: 0.5rem auto;
            }
            button {
                margin-top: 2rem;
                background-color: #FDF0EA;
                border: none;
                color: #EF6F31;
                padding: 1rem 1.5rem;
                border-radius: 3px;
                font-weight: 600;
            }
        }
    }
}