@import 'newsletter.scss';
footer {
    margin-top: 4rem;
    .container {
        width: 80%;
        margin: 3rem auto;
        display: flex;
        justify-content: space-around;
        .col {
            margin: 0 2rem;
            h4 {
                font-size: 1.3rem;
                margin-bottom: 1rem;
            }
            li {
                list-style: none;
                line-height: 2.3rem;
            }
            .socials {
                i {
                    margin-top: 1rem;
                    color: rgb(149, 149, 149);
                    margin-right: 1.5rem;
                    font-size: 1.5rem;
                }
            }
            .nick {
                color: #EF6F31;
                font-weight: 400;
            }
            .immagini {
                img {
                    width: 120px;
                    margin: 0.3rem;
                }
            }
        }
    }
    .copyright {
        text-align: center;
        margin: 3rem;
        color: rgb(144, 144, 144);
    }
}