@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.jumbotron {
    height: 750px;
    max-width: 100%;
    overflow: hidden;
    background-color: $background_jumbotron;
    position: relative;
    .img-background {
        :nth-child(1) {
            position: absolute;
            top: 0%;
            left: 50%;
        }
        :nth-child(2) {
            position: absolute;
            top: 00%;
            left: 0%;
            z-index: 1;
        }
        :nth-child(3) {
            position: absolute;
            top: 23%;
            left: 1%;
            z-index: 1;
        }
        :nth-child(4) {
            position: absolute;
            top: 20%;
            left: 82%;
        }
        :nth-child(5) {
            position: absolute;
            top: 70%;
            left: 72%;
            z-index: 1;
        }
        :nth-child(6) {
            position: absolute;
            top: 68%;
            left: 73%;
            z-index: 0;
        }
        :nth-child(7) {
            position: absolute;
            top: 50%;
            left: 25%;
        }
        :nth-child(8) {
            position: absolute;
            top: 40%;
            left: 0;
        }
        :nth-child(9) {
            position: absolute;
            top: 73%;
            left: 70%;
        }
    }
    .artist-hero-image {
        height: 100%;
        position: relative;
        .n1 {
            position: absolute;
            top: 60%;
            left: 9%;
            z-index: 2;
        }
        .n2 {
            position: absolute;
            top: 15%;
            left: 19%;
            z-index: 2;
        }
        .n3 {
            position: absolute;
            top: 50%;
            left: 72%;
            z-index: 2;
        }
        img {
            box-shadow: 1px 1px 20px rgb(151, 151, 151);
        }
    }

    section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h1 {
            font-size: 3rem;;
            color: $color_cursive;
            font-family: $font_corsivo;
        }
        h2 {
            font-size: 2rem;
            max-width: 450px;
        }
        button {
            margin-top: 2rem;
            background-color: #EF6F31;
            border: none;
            color: white;
            padding: 1rem 1.5rem;
            border-radius: 3px;
            font-weight: 600;
        }
    }
}