@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.jumbotron {
    height: 750px;
    background-color: $background_jumbotron;
    background-image: 
        url(/dist/img/artist-shape-01.png),
        url(/dist/img/artist-shape-02.png),
        url(/dist/img/artist-shape-03.png),
        url(/dist/img/artist-shape-04.png),
        url(/dist/img/maxcoach-shape-12.png),
        url(/dist/img/artist-shape-05.png),
        url(/dist/img/artist-hero-image-03.png);
    background-position:
        90% 0%,
        0% 0%,
        1% 80%,
        93% 20%,
        80% 93%,
        95% 100%,
        33% 90%;
    background-repeat: no-repeat;
    position: relative;
    .artist-hero-image {
        height: 100%;
        position: relative;
        .n1 {
            position: absolute;
            top: 60%;
            left: 9%;
            z-index: 2;
        }
        .n2 {
            position: absolute;
            top: 15%;
            left: 19%;
        }
        .n3 {
            position: absolute;
            top: 35%;
            left: 72%;
        }
        img {
            box-shadow: 1px 1px 20px rgb(151, 151, 151);
        }
    }

    section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h1 {
            font-size: 3rem;;
            color: $color_cursive;
            font-family: $font_corsivo;
        }
        h2 {
            font-size: 2rem;
            max-width: 450px;
        }
        button {
            margin-top: 2rem;
            background-color: #EF6F31;
            border: none;
            color: white;
            padding: 0.7rem 1.3rem;
            border-radius: 3px;
            font-weight: 600;
        }
    }
}