.jumbotron {
    height: 750px;
    background-color: $background_jumbotron;
    background-image: 
        url(/dist/img/artist-shape-01.png),
        url(/dist/img/artist-shape-02.png),
        url(/dist/img/artist-shape-03.png),
        url(/dist/img/artist-shape-04.png),
        url(/dist/img/maxcoach-shape-12.png),
        url(/dist/img/artist-shape-05.png),
        url(/dist/img/artist-hero-image-03.png);
    background-position:
        90% 0%,
        0% 0%,
        1% 80%,
        93% 20%,
        80% 93%,
        95% 100%,
        30% 90%;
    background-repeat: no-repeat;
    .artist-hero-image {
        height: 100%;
        position: relative;
        .n1 {
            position: absolute;
            top: 60%;
            left: 9%;
            z-index: 2;
        }
        .n2 {
            position: absolute;
            top: 15%;
            left: 19%;
        }
        .n3 {
            position: absolute;
            top: 35%;
            left: 73%;
        }
        img {
            box-shadow: 1px 1px 20px rgb(151, 151, 151);
        }
    }
}