#people {
    position: relative;
    .video {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        :last-child {
            position: absolute;
        }
    }
    .background {
        :nth-child(1) {
            position: absolute;
            top: -30px;
            left: 21%;
            z-index: -1;
        }
        :nth-child(2) {
            position: absolute;
            top: 400px;
            right: 17%;
            z-index: -1;
        }
    }

    section {
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FAF8F6;
        h3 {
            font-size: 2.4rem;
            color: $color_cursive;
            font-family: $font_corsivo;
        }
        h4 {
            font-size: 2rem;
            font-weight: 600;
        }
        .row {
            margin-top: 3rem;
            display: flex;
            justify-content: space-around;
            width: 100%;
            .card {
                background-color: white;
                padding: 2rem;
                margin: 0 2rem;
                line-height: 1.6rem;
                h5 {
                    font-size: 1.2rem;
                    font-weight: 600;
                    margin-bottom: 1.5rem;
                }
                p {
                    margin-bottom: 2rem;
                }
                .profilo {
                    display: flex;
                    align-items: center;
                    &>img {
                        border-radius: 50%;
                        height: 70px;
                    }
                    .info {
                        margin-left: 1.5rem;
                        h6 {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        .slider {
            display: flex;
            align-items: center;
            div {
                margin: 2rem 0.7rem;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: #d8d8d8;
            }
            .active {
                margin: 2rem 0.7rem;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background-color: #111111;
            }
        }
    }
    
}